<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #141414; /* Fondo oscuro similar a Netflix */
            color: #ffffff; /* Texto blanco */
        }
        .container {
            margin-top: 50px;
            border-radius: 10px;
            padding: 20px;
            background-color: #222222; /* Fondo del contenedor */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra suave */
        }
        h1 {
            color: #e50914; /* Título en rojo */
        }
        label {
            color: #e50914; /* Color de la etiqueta */
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-header">
        <div class="container">
            <a class="navbar-brand" href="/peliculas">Metflix</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a href="/peliculas" class="nav-link">Inicio</a></li>
                    <li class="nav-item"><a href="/Extras" class="nav-link">Extras</a></li>
                    <li class="nav-item"><a href="/sobre" class="nav-link">Acerca de Metflix</a></li>
                    <li class="nav-item"><a href="/cerrar?email=user@example.com" class="nav-link">Cerrar</a></li>
                    <li class="nav-item"><a href="/perfil" class="nav-link">Perfil</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <h1>Perfil de Usuario</h1>
        <div>
            <p><strong>Nombre:</strong> <%= nombre %></p>
            <p><strong>Email:</strong> <%= email %></p>
            <p><strong>Plan seleccionado:</strong> <%= plan %></p> <!-- Mostrar el plan seleccionado -->
        </div>
    </div>
</body>
</html>
