<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Metflix</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"> 
  <style>
    body {
      background-color: #181818;
      margin: 0;
      color: #ffffff;
      font-family: 'Poppins', sans-serif;
    }

    .fixed-header {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      background-color: #222;
      padding: 10px 0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    }

    .nav-pills .nav-link {
      color: #bbb;
      transition: background-color 0.3s, color 0.3s;
    }

    .nav-pills .nav-link:hover {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.1);
    }

    .nav-pills .nav-link.active {
      color: #fff;
      background-color: #900;
    }

    .about-section {
      position: relative;
      text-align: center;
      color: white;
      padding: 100px 20px;
      background: url('https://i0.wp.com/latorrenews.com/wp-content/uploads/2024/05/image-344.png?resize=696%2C392&ssl=1') no-repeat center center;
      background-size: cover;
      height: 100vh;
    }

    .about-section .content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(0, 0, 0, 0.8);
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
      max-width: 800px;
    }

    .progress-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 40px 0;
    }

    .progress {
      width: 80%;
      max-width: 600px;
      margin: 10px 0;
      height: 4rem;
    }

    .info-section {
      display: flex;
      justify-content: center; 
      align-items: center;     
      gap: 30px;               
      flex-wrap: wrap;        
      margin: 40px 20px;      
    }

    .info-card {
      padding: 20px;
      background-color: #381a63;
      border-radius: 10px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
      color: white;
      max-width: 300px;
      text-align: center;
      flex: 1 1 300px;        
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .info-card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .footer {
      text-align: center;
      padding: 20px;
      background-color: #222;
      color: white;
    }

    .footer img {
      margin: 10px;
      width: 30px;
      height: 30px;
    }

    .footer .social-media {
      margin-bottom: 20px;
    }

    .footer .reserved {
      border-top: 1px solid #555;
      padding-top: 10px;
    }

    @media (max-width: 576px) {
      .about-section h1 {
        font-size: 2rem;
      }

      .info-card h2 {
        font-size: 1.25rem;
      }
    }

    .iframe-container {
      display: flex;
      justify-content: center; 
      align-items: center; 
      margin: 20px 0; 
    }

    .image-link img {
      width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <header class="d-flex flex-wrap justify-content-center align-items-center py-3 mb-4 border-bottom fixed-header">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none ms-3">
      <span class="fs-4" style="color: #ffffff; font-size: 14px;">Metflix</span>
    </a>

    <ul class="nav nav-pills mx-auto">
      <li class="nav-item"><a href="/peliculas" class="nav-link">Inicio</a></li>
      <li class="nav-item"><a href="/Extras" class="nav-link">Extras</a></li>
      <li class="nav-item"><a href="/sobre" class="nav-link">Acerca de Metflix</a></li>
      <li class="nav-item"><a href="/cerrar?email=user@example.com" class="nav-link">Cerrar</a></li>
      <li class="nav-item"><a href="/perfil" class="nav-link">Perfil</a></li>
    </ul>
  </header>

  <div class="about-section">
    <div class="content">
      <h1>Películas, series ilimitadas y mucho más</h1>
    </div>
  </div>

  <div class="progress-container">
    <h1 style="color: white; margin: 12px 0;">Valoración de la Plataforma:</h1>
    <div class="progress">
      <div class="progress-bar bg-success" role="progressbar" style="width: 85%" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
        <span class="progress-bar-text">85% - Variedad</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-info" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
        <span class="progress-bar-text">95% - Calidad</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-warning" role="progressbar" style="width: 95%" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100">
        <span class="progress-bar-text">95% - Interfaz Intuitiva</span>
      </div>
    </div>
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <span class="progress-bar-text">100% - Contenido</span>
      </div>
    </div>
  </div>

  <h1 style="font-size: 18px; text-align: center;">Video introductorio</h1>
  <div class="iframe-container">
    <iframe width="400" height="220" src="https://www.youtube.com/embed/lEBS6T_hAV0?si=sdITmYgoGUHNCvV5" frameborder="0" allowfullscreen></iframe>
  </div>
  <br>
  <h1 style="font-size: 18px; text-align: center;">https://www.youtube.com/embed/lEBS6T_hAV0?si=sdITmYgoGUHNCvV5</h1>

  <div class="contenido info-section">
    <div class="info-card">
      <h2>Misión</h2>
      <p>Proporcionar entretenimiento ilimitado a través de películas y series de alta calidad.</p>
    </div>
    <div class="info-card">
      <h2>Visión</h2>
      <p>Convertirse en la plataforma de streaming más accesible y diversa a nivel global.</p>
    </div>
    <div class="info-card">
      <h2>Valores</h2>
      <p>Compromiso, diversidad e innovación en cada experiencia que ofrecemos.</p>
    </div>
  </div>

  <div class="contenido faq-section">
    <h2>Preguntas Frecuentes</h2>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            ¿Cuánto cuesta una suscripción?
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Ofrecemos varios planes de suscripción, que comienzan desde precios accesibles hasta planes premium con características adicionales.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            ¿Puedo cancelar mi suscripción en cualquier momento?
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Sí, puedes cancelar tu suscripción en cualquier momento a través de tu cuenta en nuestro sitio web.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            ¿Puedo ver Metflix en múltiples dispositivos al mismo tiempo?
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            Sí, dependiendo del plan de suscripción que elijas, puedes ver Metflix en múltiples dispositivos simultáneamente.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="display: flex; justify-content: center; align-items: center; background-color: #ffffff; padding: 20px; width: 200px; margin: 0 auto; margin-top: 24px;">
    <img src="https://www.webhosting.pe/images/pagos/niubiz.png" alt="Medios de Pago y Síguenos" style="width: 90px;">
  </div>

  <div class="footer">
    <div class="social-media">
      <a href="https://www.facebook.com" target="_blank">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/facebook.png" alt="Facebook">
      </a>
      <a href="https://www.instagram.com" target="_blank">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/instagram-new.png" alt="Instagram">
      </a>
      <a href="https://www.youtube.com" target="_blank">
        <img src="https://img.icons8.com/ios-filled/50/ffffff/youtube-play.png" alt="YouTube">
      </a>
    </div>
    <div class="reserved">
      <img src="https://static.vecteezy.com/system/resources/previews/008/350/760/non_2x/initial-m-logo-design-vector.jpg" alt="Logo de la Página" style="height: 100px; width: auto;">
      <p>&copy; <span id="currentYear"></span> Todos los derechos reservados</p>
    </div>
  </div>

  <script>
    document.getElementById("currentYear").textContent = new Date().getFullYear();
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
